body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #333;
}

.App {
  display: flex;
  height: 100vh;
}

.sections {
  max-width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #000;
  height: 100vh;
}

.sections .search {
  display: flex;
  justify-content: center;
}

.sections .search input {
  margin-top: 10px;
}

.sections .lang {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.section {
  margin: 8px;
}

.section a {
  cursor: pointer;
}

.active {
  /*font-weight: bold;*/
  text-shadow: 0px 0px 1px #000;
}

.actions {
  margin: 8px;
  display: flex;
}

.actions button {
  width: 100%;
  flex-grow: 1;
  font-size: 1em;
}

.content {
  flex-grow: 1;
  margin: 10px;
  white-space: pre-line;
  overflow-y: auto;
}

.content h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.content h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  margin: 10px;
}

.article {
  margin: 10px;
  line-height: 1.6;
}

.article span {
  font-weight: bold;
}

.menu {
  display: none;
  position: absolute;
  width: 36px;
  height: 36px;
  /*background-color: #ccc;*/
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: width 2s;
}

.menu span {
  width: 100%;
  height: 6px;
  background-color: #ccc;
  position: absolute;
  transition: all 0.3s ease;
}

.menu .line1 {
  top: 0;
}

.menu .line2 {
  top: 15px;
}

.menu .line3 {
  top: 30px;
}

.menu.active .line1 {
  transform: rotate(45deg) translate(11px, 10px);
}
.menu.active .line2 {
  opacity: 0;
}
.menu.active .line3 {
  transform: rotate(-45deg) translate(11px, -10px);
}

.sections.show {
  display: block;
}

.Modal {
  position: absolute;
  background-color: #fff;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(204, 204, 204);
  max-height: 80vh;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  width: 80%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.Modal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 1.4em;
}

@media only screen and (max-width: 600px) {
  .sections {
    display: none;
  }
  .menu {
    display: block;
  }
}
